<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/header :: header">
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<main class="container">
    <div class="row g-8">
        <div class="col-md-12">
            <h3 class="pb-4 mb-4 fst-italic border-bottom">
                From the Firehose
            </h3>

            <article class="blog-post">
                <h2 class="blog-post-title" th:text="${post.subject}"></h2>
                <p class="blog-post-meta">
                <div class="text-end">
                    <span th:text="${post.createdDate}"></span>
                    by <span th:text="${post.writer}"></span>
                </div>
                </p>
                <hr>

                <p th:text="${post.content}"></p>
            </article>


            <nav class="blog-pagination" aria-label="Pagination">
                <div class="text-end">
                    <span sec:authorize="isAuthenticated()" th:if="${auth == 'own'}">
                        <button type="button" class="btn btn-outline-primary">Edit</button>
                        <button type="button" class="btn btn-outline-dark">Delete</button>
                    </span>
                    <button type="button" class="btn btn-outline-info">List</button>
                </div>
            </nav>

        </div>
    </div>

</main>
<div th:replace="fragments/footer :: footer"/>
</body>
</html>