<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/header :: header">
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<div class="container">
    <form th:action="@{/post/write}" th:object="${postForm}" method="post">
        <div class="form-group">
            <label th:for="subject">제목</label>
            <input type="text" th:field="*{subject}" class="form-control"
                   placeholder="제목">
        </div>
        <div class="form-group">
            <label th:for="content">내용</label>
            <textarea type="text" th:field="*{content}" class="form-control"
                   placeholder="내용을 입력하세요." />
        </div>
<!--        <div class="form-group">-->
<!--            <label th:for="stockQuantity">수량</label>-->
<!--            <input type="number" th:field="*{stockQuantity}" class="formcontrol" placeholder="수량을 입력하세요">-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--            <label th:for="author">저자</label>-->
<!--            <input type="text" th:field="*{author}" class="form-control"-->
<!--                   placeholder="저자를 입력하세요">-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--            <label th:for="isbn">ISBN</label>-->
<!--            <input type="text" th:field="*{isbn}" class="form-control"-->
<!--                   placeholder="ISBN을 입력하세요">-->
<!--        </div>-->
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <br/>
</div> <!-- /container -->
<div th:replace="fragments/footer :: footer"/>
</body>
</html>